/* .WindHumi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.wind{
    font-size: 30px;
    margin-top: -5px;
}
.humidity{
    font-size: 30px;
    margin-top: -5px;
} */

